@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
} */
body{
    font-family: "Work Sans", sans-serif;
}

/* Shared Styles */

.display-flex{
    display: flex;
}
.btn-primary{
    background-color: #FF900E;
    color: #ffffff;
    padding: 20px 25px;
    border-radius: 10px;
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
}

/* dark 01 */
.text-deep-gray{
    color: #131313;    
}

/* dark 02 */
.text-gray{
    color: #424242;
}

/* dark 03 */
.text-light-gray{
    color: #727272;
}

/* Background Color */
.backgroud-light{
    background-color: rgba(255, 144, 14, 0.1);
    height: 1322px;
    margin-bottom: 40px;
}

.main{
    max-width: 1440px;
    margin: 0px auto;
}
main > section{
    margin-top: 135px;
}

/* Header Styles */

/* Navbar Related Styles */

.navbar{
    justify-content: space-between;
    align-items: center;
}

.nav-link{
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0px auto;
}
.brand{
    font-weight: 700;
    font-size: 3rem;
}

.banner{}
.banner-content{
    max-width: 862px;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-img{
    width: 100%;
}

/* Team and Feature Related Style */
.team-section{
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;    
}
.our-features{
    margin-left: 130px;
    max-width: 530px;
}
#quick-list{
    font-weight: 500;
}
#quick-list-1{
    color: #FF900E;
}
.feature-title{
    font-size: 3rem;
    font-weight: 700;
}
.our-features p{
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 25px;
}



/* Responsive Media Query */

@media screen and (max-width: 576px) {
    .navbar, 
    .nav-links
    {
        flex-direction: column;
    }
    .nav-item{
        margin-top: 10px;
        margin-bottom: 10px;
    }


}